 <div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4>Show Event</h4>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped table-md">
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Image</th>
                      <th>Charges</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let ed of eventData; let no=index;">
                      <td>{{no+1}}</td>
                       <td>{{ed.eventName}}</td>
                       <td>{{ed.eventDescription}}</td>
                       <td><img src="{{this.baseUrl + ed.eventImage}}" height="150" width="150"/></td>
                       <td>{{ed.eventCharges}}</td>
                       
                       <td><a class="btn btn-action bg-purple mr-1" data-toggle="tooltip" [routerLink]="['/admin/editEvent',ed.eventIDPK]" title="Edit"><i
                        class="fas fa-pencil-alt"></i></a> <a class="btn btn-danger btn-action"
                      data-toggle="tooltip" title="Delete" (click)="deleteevent(ed.eventIDPK)"><i class="fas fa-trash"></i></a></td>										
                   </tr>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
        </div>
       </div>
    </section>
  </div>
  <app-footer></app-footer>