<footer class="footer-area pt-85 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!-- start contact widget -->
                <div class="widget contact-widget">
                    <h3>About RE-Load</h3>
                    <p>Re-Load is an ultimate game zone in Surat with unlimited fun & games for kids as well as adults. It’s about inspiring everyone to kill their boredom and indulge in an atmosphere of fun. Re-Load marries Arcade Games, Bowling, Inflatable Park, Trampoline Park, Events, and Dining into an evolved, interactive and immersive social experience for family, friends and children alike.</p>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- end contact widget -->
            </div>
            
            
            <div class="col-lg-3 col-sm-6">
                <!-- start contact us widget -->
                <div class="widget contact-us">
                    <a href="/user/addInquiry"><h3>Contact Us</h3></a>
                    <ul>
                        <li><a href="#"><i class="fal fa-paper-plane"></i>Level 1, 14-16 Church Street, VIP Road, Surat</a></li>
                        <li><a href="#"><i class="fal fa-envelope"></i>reload@gmail.com</a></li>
                        <li><a href="#"><i class="fal fa-phone-alt"></i>+0261 226336</a></li>
                    </ul>
                </div>
                <!-- end contact us widget -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- start contact us widget -->
                <div class="widget contact-us">
                    <a href="/user/showFaq"><h3>FAQ</h3></a>
                    
                </div>
                <!-- end contact us widget -->
            </div>
        </div>
    </div>
</footer>
