<div class="bradcumb-area cart overlay-bg-4">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
				<!-- Start bradcumb -->
				<div class="bradcumb text-center">
					
				</div>
				<!-- End bradcumb -->
			</div>
		</div>
	</div>
</div>
<div class="login-area pt-90">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-5 col-md-5">
				<img class="mb-5" src="./assets/img/about/2.png" alt="">
			</div>
			<div class="col-xl-6 col-lg-7 col-md-7">
				
			
				<div class="login-form">
                    
					<form  class="gane-form" method="POST" #form="ngForm" (ngSubmit)="onsubmit(form)" >
						<div class="form-left">
							<div class="form-title">
								<h4>Forget Password</h4>
							</div>
							<div class="single-field ">
								<label>Email</label>
                                
								<input type="email" name="email" id="email" class="form-control" placeholder="Write Email" ngModel required
								#email="ngModel" [(ngModel)]="this.userData.email" >
							</div>
							
							<button class="btn btn-theme" type="submit">Forget</button> 
						</div>
					
					</form>
				</div>
			</div>
		</div>
	</div>
</div>