<app-header>

</app-header>
<!DOCTYPE html>
<html lang="en">


    <body>
       
		<!-- Start Wrapper -->
		<div class="wrapper">
		
			<!-- End Header -->
			<!-- Start Bradcumb Area -->
			<div class="bradcumb-area blog-1 overlay-bg-5">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<!-- Start bradcumb -->
							<div class="bradcumb text-center">
								<h3>Jumping Park</h3>
								<ul>
									<li><a href="#">Home</a></li>
									<li>Jumping Park</li>
								</ul>
							</div>
							<!-- End bradcumb -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Bradcumb Area -->
			<!-- Start Blog  Area -->
			<div class="blog-area pt-100">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-10">
							
							<!-- Start Blog Post -->
							<div class="single-blog-post-wrap">
								<!-- Start single blog post -->
								<div class="single-blog-post">
									<!-- Start blog post thumbnail -->
									<div class="post-thumbnail">
										<img src="/assets/img/post/v3.jpeg" alt="">
									</div>
									<!-- End blog post thumbnail -->
									<div class="single-post-content-thumb">
										<!-- Start post meta -->
										<!-- <div class="post-meta">
											<span><i class="fal fa-clock"></i>September 11, 2021</span>
											<span><i class="fal fa-user"></i>Liza De Villiers</span>
											<span><i class="fad fa-eye"></i>180</span>
											<span><i class="fal fa-comments"></i>12 Comments</span>
										</div> -->
										
									</div>
								</div>
								<!-- End single blog post -->
								<!-- Start single blog post -->
								<div class="single-blog-post">
									<!-- Start blog post thumbnail -->
									<div class="post-thumbnail">
										<img src="/assets/img/post/v4.jpeg" alt="">
									</div>
									<!-- End blog post thumbnail -->
									<div class="single-post-content-thumb">
										<!-- Start post meta -->
										<!-- <div class="post-meta">
											<span><i class="fal fa-clock"></i>September 11, 2021</span>
											<span><i class="fal fa-user"></i>Liza De Villiers</span>
											<span><i class="fad fa-eye"></i>180</span>
											<span><i class="fal fa-comments"></i>12 Comments</span>
										</div> -->
										<!-- End post meta -->
										<!-- start entry header -->
										<div class="entry-header">
											<a href="#"><h2 class="entry-title">The Only Beach Packing List You’ll Ever Need</h2></a>
										</div>
										<!-- end entry header -->
										<!-- Start entry content -->
										<div class="entry-content">
											<p>It doesn’t matter if it’s just for a day or for an entire week… check out this beach packing list and you’re sure to show up prepared. 
                                                There’s something rejuvenating about soaking up the sun, swimming in the ocean, and basking in the sea breeze.
                                                 If you live close enough to a beach that you can take a day trip, you’re one of the lucky ones. 
                                                 All you have to do is pack up your car and go! But it’s still important to make sure you have everything you need for the day so that you don’t have to turn around if you’ve forgotten something.</p>
											<a href="#" class="btn border-theme">View In Detail</a>
										</div>
										<!-- End entry content -->
									</div>
								</div>
								<!-- End single blog post -->
								
							</div>
							<!-- End Blog Post -->
							
						</div>
					</div>
				</div>
			</div>
			<!-- End End Blog Area -->
			

		</div>
        <!-- End Wrapper -->
			
    </body>

</html>

<app-footer></app-footer>