   
                   <body>
                  
                  <app-header></app-header>
              
                  <!-- Start Bradcumb Area -->
                  <div class="bradcumb-area adventure-1 overlay-bg-2">
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col">
                          <!-- Start bradcumb -->
                          <div class="bradcumb text-center">
                            <h3>Package </h3>
                            <ul>
                              <li><a href="#">Home</a></li>
                              <li>All Pakages</li>
                            </ul>
                          </div>
                          <!-- End bradcumb -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Bradcumb Area -->
                  <!-- Start Adventure Grid Area -->
                  <div class="adventure-grid-area pt-80 pb-105">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="adventure-select">
                            <form action="#" class="adventure-select-form">
                              
                              <div class="adventure-area pb-90 pt-50">
                                <div class="container">
                                  <div class="row justify-content-center">
                                    <div class="col-xl-6 col-md-8">
                                      <!-- Start section title -->
                                      <div class="section-title text-center">
                                       
                                        <h2>Your best Package <span></span> YET, starts here</h2>
                                      </div>
                                      <!-- End section title -->
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-3 col-sm-6" *ngFor="let pd of packageData; let no=index;">
                                      <!-- start single adventure -->
                                      <div class="single-adventure" >
                                        <img src="{{this.baseUrl + pd.packageImage}}" alt="adventure">
                                        <div class="adventure-content"> 
                            
                                          <a  (click)="add(pd.packageIDPK)" ><h5>{{pd.packageName}}</h5></a>
                                          <p>{{pd.packageDescription}}</p>
                                        </div>
                                      </div>
                                      <!-- end single adventure -->
                                    
                                </div>
                              </div>
                              <!-- End Advencher Area -->
                              <!-- Start Fun Facts Area -->
                              
                              <!-- End Fun Facts Area -->
                              
                                    </div>
                                    
                                    
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <!-- End Adventure Grid Area -->
               

                 <app-footer></app-footer>
                </body>