
                <section class="slider-area">
                    <div id="welcome-slide" class="slide-controls owl-carousel">
                <div class="single-slide overlay-bg-2">
                    <div class="slide-thumb shape-1">
                        <img src="./assets/img/slider/slide-1.jpg" alt="">
                        <!-- Start Slide Content -->
                        <div class="slide-content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10 col-sm-12">
                                        <!-- Start Slide content wrap -->
                                        <div class="slide-content-area">
                                            <!-- Start Single slide content	-->
                                            <div class="single-slide-content text-center">
                                                <div class="content-text">
                                                    <h1>Thank You For Booking😊❣️ <span></span> </h1>
                                                    <div class="single-field half-field">

                                                    <a href="#"><button class="btn btn-theme" >Back To Home</button> </a>
                                                </div>
                                                <div class="single-field half-field-last">

                                                    <a href="/user/showBooking"><button class="btn btn-theme" >My Account</button> </a>
                                                </div>
                                                      </div>
                                                    
                                                </div>
                                            </div>
                                            
                                            <!-- End Single slide content	-->
                                        </div>
                                        <!-- End Slide content wrap-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Slide Content -->
                    </div>
                </div>
            </section>